.DS_Store
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.swp
*.orig
*.ipa
*.dSYM
*.dSYM.zip
*.xcresult

.env
.env.*
*.pem
*.key
*.p12
*.pfx
credentials.json
secrets.json
service-account*.json
*secret*
.npmrc
.netrc
